<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<div class="container">
    <div class="row">
                <span class="h3 col-md-12 text-center">
                    查看学科
                </span>
    </div>
    <hr/>
    <table class="table h4 text-center">
        <tr>
            <th class="text-center">所教学科</th>
            <th class="text-center">所教人数</th>
            <th class="text-center"></th>
        </tr>
        <tr th:each="item:${subjectDetails}">
            <td th:text="${item.subject}">XX</td>
            <td th:text="${item.count}">0</td>
            <td>
                <a th:href="'detailSubject?subject=' + ${item.subject}" class="btn btn-success">
                    详情
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>